<ion-header>
  <ion-navbar style="padding-top: 28px; padding-bottom: 20px;">
    <button ion-button icon-only menuToggle>
      <div>
        <ion-icon name='search' class="big-icon"></ion-icon>
        <br>
        <label class="small">Search</label>
        </div>
    </button>

    <ion-buttons >
      <button ion-button icon-only (click)="changeSlide(0)" [style.color]="getStyle(0)">
        <div>
          <ion-icon name='eye' class="big-icon"></ion-icon>
          <br>
          <label class="small">Overview</label>
        </div>
      </button>
      <button ion-button icon-only (click)="changeSlide(1)" [style.color]="getStyle(1)">
        <div>
          <ion-icon name='trending-up' class="big-icon"></ion-icon>
          <br>
          <label class="small">Who Owns</label>
        </div>
      </button>
      <button ion-button icon-only (click)="changeSlide(2)" [style.color]="getStyle(2)">
        <div>
          <ion-icon name='podium' class="big-icon"></ion-icon>
          <br>
          <label class="small">Performance</label>
        </div>
      </button>

      <button ion-button icon-only (click)="changeSlide(3)" [style.color]="getStyle(3)">
        <div>
          <ion-icon name='paper' class="big-icon"></ion-icon>
          <br>
          <label class="small">News</label>
        </div>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-slides pager (ionSlideDidChange)="slideChanged()">
  <ion-slide>
    <div *ngIf ="company&&company.CompanyName" >
      <div style="position: relative; margin: 20px 0 20px 0">
          <div class="text-xlarge">{{company?.CompanyName}}</div>
          <div style=" position: absolute; top: -20px; right: 30px; font-size: 20px"  (click)="company.liked = !company.liked">
              <ion-icon name="ios-heart-outline" *ngIf="!company.liked"></ion-icon>
              <ion-icon name="heart" *ngIf="company.liked" style="color: orange"></ion-icon>
          </div>
          <div style=" position: absolute; top: -20px; right: 0; color: #828595"><ion-icon name="information-circle"></ion-icon></div>
      </div>
      
      <ion-grid>
          <ion-row>
            <ion-col width-60 class="text-left text-large">Total</ion-col>
            <ion-col width-40 class="text-right text-large">{{company?.OwnerPercent }} %   </ion-col>
          </ion-row>
          <ion-row  class="buffer-bottom">
            <ion-grid>
              <ion-row>
                <ion-col width-60 class="text-left text-small">Public</ion-col>
                <ion-col width-40 class="text-right text-small">{{company?.PublicOwn}} %</ion-col>
              </ion-row>
              <ion-row>
                <ion-col width-60 class="text-left text-small">Others</ion-col>
                <ion-col width-40 class="text-right text-small">{{company?.PrivateOwn}} %</ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>

          <ion-row class="buffer-bottom">
            <ion-col width-80 class="text-left text-medium">Last disclosed</ion-col>
            <ion-col width-20 class="text-right text-medium">{{company?.LatestDisclosed}}</ion-col>
          </ion-row>
          <ion-row  class="buffer-bottom">
            <ion-col width-60 class="text-left text-medium">Market value</ion-col>
            <ion-col width-40 class="text-right text-medium">${{company?.MarketValueUSD}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-60 class="text-left text-medium">Shareholdings</ion-col>
            <ion-col width-40 class="text-right text-medium">{{company?.TotalShares}}</ion-col>
          </ion-row>
      </ion-grid>
      
    </div>
  </ion-slide>
  <ion-slide>
    <h2 class="buffer-top">Who Owns</h2>
    <img src="/img/Who_Owns.png" />
    
  </ion-slide>
  <ion-slide>
    
    <h2 class="buffer-top">Performance</h2>
    <img src="https://www.google.com/finance/getchart?q=AAPL&p=5Y&i=86400" />
    <ion-grid>
      <ion-row>
        <ion-col width-70 class="text-left text-small">5 - Year Return</ion-col>
        <ion-col width-30 class="text-right text-small">9.5 %</ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <h2 class="buffer-top">News</h2>
    <br />
    <article class="text-left">
     Oracle CEO Mark Hurd slams Amazon cloud as 
      'old' and says his company is gaining share
      <br />
      <div class="sub-title">BloomBerg &nbsp;-&nbsp; 14 Feb 2017</div>
      <br />
      <br />
      As promised, Oracle just filed its appeal in its
      massive case against Google
      <br />
      <div class="sub-title">BloomBerg &nbsp;-&nbsp; 12 Feb 2017</div>
      <br />
      <br />
      Oracle to Help Businesses Better Support 
      Global Operations with Seamless Tax 
      Reporting
      <div class="sub-title">BloomBerg &nbsp;-&nbsp; 11 Feb 2017</div>
      
       
    </article>

  </ion-slide>
  </ion-slides>
</ion-content>
<!--
<ion-slide>
    <div style="display: block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </ion-slide>
-->
