// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$bg-color: #2b3151;
$tool-bar-color: #6a89c6;

.fixed-content {
	background-color:$bg-color;
}
.content {
	background-color:$bg-color;
	color: #fff;
	font-family: sans-serif;
}

.toolbar-background-md {
	background: $tool-bar-color;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
	color: #dbdbdb;
}

.white {
	color: #fff;
}

.text-left {text-align: left;}
.text-right {text-align: right;}

.text-xlarge { font-size: 54px; }
.text-large { font-size: 32px; }
.text-medium { font-size: 24px; }
.text-small { font-size: 20px; }

.buffer-top-bottom {
	margin: 20px 0 20px 0;
}

.buffer-top {
	margin-top: 20px !important;
}

.buffer-bottom {
	margin-bottom: 20px;
}

.card {
	margin: 12px 0 12px 0;
	width: 100%;
	border-radius: 4px;
	background: #828595;
	color: white;
}
.card, .card-header {
	color: white;
}

.swiper-slide {
	-webkit-align-items: flex-start ;
	align-items: flex-start;
}


.spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

.bar-buttons, .bar-buttons-md {
  display: block; /*** icons on the texts ***/
  /*font-size: 36px;*/ /*** increase size of icons ***/
  margin-bottom: 3px;

}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
	  color: #c1c1c1;
}


.big-icon {
	font-size: 36px !important;
	margin-left: 8px;
	margin-right: 8px;
}
.small {font-size: 11px;}

.sub-title {
	color: #797979;
	margin-top: 10px;
	font-size: 11px;
}
